.outer_div {
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: 5px;
}

.inner_div {
  margin: auto;
  padding: 20px;
  background-color: white;
  border-radius: 4px;
}

/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
.login_button,
.cancelbtn {
  background-color: #5e5e5e;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
}

.login_button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.login_container {
  padding: 16px;
}

#spanpsw.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.login-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  padding-top: 60px;
  box-shadow: 2px 2px 4px grey;
  background: rgba(204, 204, 204, 0.5);
  color: white;
  text-shadow: 2px 2px 4px grey;
}

/* Modal Content/Box */
.login-modal-content {
  box-shadow: 2px 2px 4px grey;
  background: rgba(204, 204, 204, 0.8);
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 300px; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 600px) {
  #spanpsw.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
  /* .modal-content {
      width: 80%; Could be more or less, depending on screen size */
}

/* Index Buttons */

.clockbutton {
  border-radius: 4px;
  border: none;
  color: #ffffff;
  text-shadow: 2px 2px 4px #000000;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}


.clockbutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#clock-in span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
#clock-out span:after {
  content: "\00ab";
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0px;
  transition: 0.5s;
}

#clock-in:hover span {
  padding-right: 25px;
}

#clock-out:hover span {
  padding-left: 25px;
}

#clock-in:hover span:after {
  opacity: 1;
  right: 1;
}

#clock-out:hover span:after {
  opacity: 1;
  left: 1;
}

/* end Index Button */

#alertBox {
  -webkit-animation: cssAnimation 0s ease-in 3s forwards;
  -moz-animation: cssAnimation 0s ease-in 3s forwards;
  -o-animation: cssAnimation 0s ease-in 3s forwards;
  animation: cssAnimation 0s ease-in 3s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes cssAnimation {
  from {
    visibility: hidden;
  }
  to {
    width: 0;
    height: 0;
    visibility: hidden;
  }
}
@-webkit-keyframes cssAnimation {
  from {
    visibility: hidden;
  }
  to {
    width: 0;
    height: 0;
    visibility: hidden;
  }
}



/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.chip {
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #f1f1f1;
}

.chip img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 20%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 25%;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

