<!DOCTYPE html>

<html lang="en">
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="static/croppie.css" />
    <script src="static/croppie.js"></script>

    <script src="/static/myscripts.js"></script>

    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=0.9, width=device-width" />

    <link href="/static/styles.css" rel="stylesheet" />

    <link href="/static/clock-flat.svg" rel="icon" />

    <title>layout</title>
  </head>
  <body class="bg-light">
    <!-- Navigation bar -->
    <nav
      class="navbar navbar-expand-lg navbar-light bg-light"
      style="
        position: fixed;
        width: 100%;
        z-index: 99;
        top: 0;
        padding-left: 10px;
        padding-right: 10px;
      "
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="/"
          ><img
            style="width: 35px; position: relative; top: 0%"
            src="/static/clock-flat.svg"
            alt="Clock"
          />Time-In</a
        >
        {% if session.user_id %}
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarScroll"
          aria-controls="navbarScroll"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul
            class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
            style="--bs-scroll-height: 200px; text-align: justify"
          >
            <li class="nav-item">
              <a class="nav-link" href="/timesheet">Timesheet</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/timeoff">Time-off</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/people">People</a>
            </li>
            {% if access == 'Manager' %}
            <li class="nav-item">
              <a class="nav-link" href="/admin">Admin</a>
            </li>
            {% endif %}
          </ul>
          <span class="navbar-text">
            <div class="btn-group">
              <button
                type="button"
                class="
                  btn btn-light
                  dropdown-toggle
                  rounded-pill
                  border border-2
                "
                data-bs-toggle="dropdown"
                data-bs-display="static"
                aria-expanded="true"
              >
                <img
                  src="{{ image }}"
                  alt="image alt text"
                  style="
                    border-radius: 50px;
                    margin-left: 5px;
                    height: 40px;
                    width: 40px;
                    box-shadow: 2px 2px 4px grey;
                  "
                />
                {{ user }}
              </button>
              <ul class="dropdown-menu dropdown-menu-lg-end">
                <li><a class="dropdown-item" href="/logout">Log Out</a></li>
              </ul>
            </div>
          </span>
        </div>
        {% endif %}
      </div>
    </nav>

    <!-- Allert Box-->
    {% if get_flashed_messages() %}
    <div
      id="alertBox"
      style="
        position: fixed;
        margin-top: 80px;
        z-index: 1;
        text-align: center;
        opacity: 0.9;
        width: 100%;
      "
    >
      <header>
        <div class="alert alert-primary border text-center" role="alert">
          {{ get_flashed_messages() | join(" ") }}
        </div>
      </header>
    </div>
    {% endif %}
    <main class="bg-light" style="padding-top: 100px; height: 100%">
      {% block main %}{% endblock %}
    </main>
  </body>
</html>
